<div>
  <h1>ログイン</h1>
</div>
<div>
  <%=form_for(:session,url: login_path ) do |f| %>
      <div>
        <%= f.label :email,:email %>
        <%= f.email_field :email %>
      </div>
      <div>
        <%= f.label :password, :password %>
        <%= f.password_field :password %>
      </div>

     <%= f.submit 'ログイン' %>
   <% end %>
   <p>新規ユーザー登録はこちら<%= link_to '新規ユーザー登録',signup_path %></p>
</div>
