<h1><%= @record.name %></h1>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-offset-2 col-lg-8">
    <div class="text-center">
        <table class="table">
          <tr>
            <th class="text-left">魚種</th>
            <td class="text-left"><%=@record.name %></td>
          </tr>
          <tr>
            <th class="text-left">サイズ</th>
            <td class="text-left"><%=@record.size %></td>
          </tr>
          <tr>
            <th class="text-left">ウェイト</th>
            <td class="text-left"><%=@record.weight%></td>
          </tr>
          <tr>
            <th class="text-left">場所</th>
            <td class="text-left"><%=@record.place %></td>
          </tr>
          <tr>
            <th class="text-left">天気</th>
            <td class="text-left"><%=@record.weather %></td>
          </tr>
          <tr>
            <th class="text-left">ヒットルアー</th>
            <td class="text-left"><%=@record.lure %></td>
          </tr>

        </table>
        <div class="text-left">
           <% if current_user == @record.user %> <!--ログインしているユーザーのみ編集ボタンを表示させる-->
             <%= link_to '投稿を編集', edit_record_path(@record),class: 'btn btn-primary' %>
           <% end %>
        </div>
     </div>
   </div>
</div>
